---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
const pageTitle = "Home Page";
const helloInLanguages = [
  "Hello",
  "Hola",
  "Bonjour",
  "Hallo",
  "Ciao",
  "Olá",
  "Nǐ hǎo",
  "Konnichiwa",
  "Annyeong haseyo",
  "Namaste",
  "Merhaba",
  "Zdravstvuyte",
  "Yassou",
  "Shalom",
  "Salam",
  "Hej",
  "Hyvää päivää",
  "Tere",
  "Sveiki",
  "Moien",
  "Kamusta",
  "Xin chào",
  "Sawubona",
  "Hujambo",
  "Bula",
  "Dia dhuit",
  "Aloha"
];

---
<BaseLayout pageTitle ={pageTitle}>
  <!-- <Greeting messages={["Hi", "Hello", "Howdy", "Hey there"]} /> -->
  <Greeting client:load messages={helloInLanguages} />

  <p>Note: As of 01/11/2025. This site is an ongoing project. If you're a recruiter keep in mind that the isn't finished
    so some of the features might be incomplete</p>

  <h2> Website Layout</h2>
  <ul>
    <li> About: Personal Information</li>
    <li>Blog: Personal Projects</li>
    <li>Tags: Easy way to sort projects based on skills</li>
  </ul>
</BaseLayout>