---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
const pageTitle = "Home Page";
---
<BaseLayout pageTitle ={pageTitle}>
  <h2>My awesome blog subtitle</h2>
  <!-- <Greeting messages={["Hi", "Hello", "Howdy", "Hey there"]} /> -->
  <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />

  <p>Note: As of 01/11/2025. This site is an ongoing project. If you're a recruiter keep in mind that the isn't finished
    so some of the features might be incomplete</p>

  <h2> Website Layout</h2>
</BaseLayout>